In [5]:
from bs4 import BeautifulSoup as bs
import matplotlib.pyplot as plt
import requests as req
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [/Users/jackcohen/.wdm/drivers/chromedriver/mac64/94.0.4606.61/chromedriver] found in cache

In [84]:
url = 'https://www.timeanddate.com/holidays/us/'
tables = pd.read_html(url)
holidays = tables[0]
holidays

,Date,Unnamed: 1_level_0,Name,Type,Details
,Date,Unnamed: 1_level_1,Name,Type,Details
0,Jan 1,Friday,New Year's Day,State holiday,All
1,Jan 1,Friday,New Year's Day,Federal Holiday,NaN
2,Jan 4,Monday,World Braille Day,United Nations observance,NaN
3,Jan 6,Wednesday,Epiphany,Christian,NaN
4,Jan 7,Thursday,Orthodox Christmas Day,Orthodox,NaN
...,...,...,...,...,...
507,Dec 31,Friday,Day off for New Year's Day,Federal Holiday,NaN
508,Dec 31,Friday,Day off for New Year's Day,State holiday,"All except MA, MS, NY, RI, TX, WI"
509,Dec 31,Friday,New Year's Eve,Observance,NaN
510,Dec 31,Friday,New Year's Eve,State holiday,"LA, MI, WI"
511,* Observed only in part of this state. ** Obse...,* Observed only in part of this state. ** Obse...,* Observed only in part of this state. ** Obse...,* Observed only in part of this state. ** Obse...,* Observed only in part of this state. ** Obse...

In [85]:
holidays_new = pd.DataFrame(data = [holidays['Date']['Date'],
                            holidays['Unnamed: 1_level_0']['Unnamed: 1_level_1'],
                            holidays['Name']['Name'],
                            holidays['Type']['Type'],
                            holidays['Details']['Details']])
holidays_new = holidays_new.T
holidays_new.rename(columns={'Unnamed: 1_level_1':'Day'},inplace=True)
holidays_new.drop(index=511,inplace=True)
holidays_new.dropna(subset=['Date'],inplace=True)
holidays_new.tail()

,Date,Day,Name,Type,Details
506,Dec 27,Monday,International Day of Epidemic Preparedness,United Nations observance,NaN
507,Dec 31,Friday,Day off for New Year's Day,Federal Holiday,NaN
508,Dec 31,Friday,Day off for New Year's Day,State holiday,"All except MA, MS, NY, RI, TX, WI"
509,Dec 31,Friday,New Year's Eve,Observance,NaN
510,Dec 31,Friday,New Year's Eve,State holiday,"LA, MI, WI"

In [86]:
from datetime import date, datetime
print(date.today())
from dateutil import parser

dt = []
for x in holidays_new['Date']:
    tmp = parser.parse(x).date()
    dt.append(tmp)
holidays_new['Date'] = dt

2021-10-06

In [99]:
holidays_new['Date'][0]

datetime.date(2021, 1, 1)

In [100]:
date.today()

datetime.date(2021, 10, 6)

In [106]:
from datetime import timedelta
hol = holidays_new.loc[(holidays_new['Date']==date.today())|
                (holidays_new['Date']==(date.today()+timedelta(days=1)))|
                (holidays_new['Date']==(date.today()+timedelta(days=2)))|
                (holidays_new['Date']==(date.today()+timedelta(days=3)))|
                (holidays_new['Date']==(date.today()+timedelta(days=4)))|
                (holidays_new['Date']==(date.today()+timedelta(days=5)))]

In [108]:
result = hol.to_json(orient="index")

'{"386":{"Date":1633478400000,"Day":"Wednesday","Name":"World Cerebral Palsy Day","Type":"Worldwide observance","Details":null},"387":{"Date":1633737600000,"Day":"Saturday","Name":"World Post Day","Type":"United Nations observance","Details":null},"388":{"Date":1633737600000,"Day":"Saturday","Name":"Leif Erikson Day","Type":"Observance","Details":null},"389":{"Date":1633824000000,"Day":"Sunday","Name":"World Mental Health Day","Type":"United Nations observance","Details":null},"390":{"Date":1633824000000,"Day":"Sunday","Name":"Chicago Marathon","Type":"Sporting event","Details":null},"391":{"Date":1633910400000,"Day":"Monday","Name":"International Day of the Girl Child","Type":"United Nations observance","Details":null},"392":{"Date":1633910400000,"Day":"Monday","Name":"Columbus Day","Type":"State Legal Holiday","Details":"Tennessee"},"393":{"Date":1633910400000,"Day":"Monday","Name":"Columbus Day","Type":"State holiday","Details":"22 states"},"394":{"Date":1633910400000,"Day":"Monday","Name":"Columbus Day","Type":"Federal Holiday","Details":null},"395":{"Date":1633910400000,"Day":"Monday","Name":"Fraternal Day","Type":"State holiday","Details":"Alabama"},"396":{"Date":1633910400000,"Day":"Monday","Name":"Yorktown Victory Day","Type":"State holiday","Details":"Virginia"},"397":{"Date":1633910400000,"Day":"Monday","Name":"Discoverers\\u2019 Day","Type":"State Observation","Details":"Hawaii"},"398":{"Date":1633910400000,"Day":"Monday","Name":"Native American Day","Type":"State Observation","Details":"Oklahoma"},"399":{"Date":1633910400000,"Day":"Monday","Name":"Native American Day","Type":"State holiday","Details":"South Dakota"},"400":{"Date":1633910400000,"Day":"Monday","Name":"Indigenous People\'s Day (Tentative Date)","Type":"State Observation","Details":"CA, ID, LA, MI, MN, OR"},"401":{"Date":1633910400000,"Day":"Monday","Name":"Indigenous People\'s Day","Type":"State Observation","Details":"28 states"},"402":{"Date":1633910400000,"Day":"Monday","Name":"Indigenous People\'s Day","Type":"State holiday","Details":"DC, ME, NM"},"403":{"Date":1633910400000,"Day":"Monday","Name":"American Indian Heritage Day","Type":"State holiday","Details":"Alabama"},"404":{"Date":1633910400000,"Day":"Monday","Name":"Boston Marathon (Tentative Date)","Type":"Sporting event","Details":null}}'

In [ ]:
mars_profile = tables[1]
mars_info = mars_profile.to_html(index=False, header=False)

In [ ]:
browser.visit(url)

html = browser.html
soup = bs(html, 'html.parser')

results = soup.find_all('p')
astro = results[0].find_all('a')

In [3]:
browser.quit()